<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet"  href="{% static 'frontendapp/css/styles.css' %}">
    <!-- <img src="{% static 'frontendapp/images/lineage_picture.jpg' %}"> -->
    <title>Lineage as a Service</title>

   
</head>
<body>

    <div class="form-background">
        {% block content %}
        
        {% endblock %}
    </div>
    
</body>
</html>